<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="im.dacer.kata">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.settings.CacheSettingsActivity"
            android:label="@string/cache"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.StyleActivity"
            android:label="@string/style"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.lyric.LyricActivity"
            android:label="@string/lyric"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".ui.flashcard.FlashcardActivity"
            android:label="@string/flashcards"
            android:screenOrientation="portrait"/>

        <activity android:name="im.dacer.kata.ui.FloatActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/FloatTheme"
            android:process=":listener"
            android:documentLaunchMode="intoExisting" >
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="kata-float"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.bigbang.BigBangActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:process=":listener"
            android:documentLaunchMode="intoExisting">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="kata"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.VideoPlayerActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".ui.ReadClipboardActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/EmptyTheme" />


        <service android:name="im.dacer.kata.service.UrlAnalysisService"
            android:process=":listener" />
        <service
            android:name=".service.ListenClipboardService"
            android:enabled="true"
            android:exported="true"
            android:process=":listener"/>

        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>